version: "3.8"

services:
  backend:
    build: ./server
    container_name: krist-backend
    ports:
      - "5000:5000"
    env_file:
      - ./server/.env
    restart: always

  frontend:
    build: ./client
    container_name: krist-frontend
    ports:
      - "80:80"
    depends_on:
      - backend
    restart: always
